.counter.container {
  text-align: center;
}

.counter h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.counter p {
  font-size: 1.5rem;
}

.counter button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.counter input {
  border-radius: 25px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(100, 100, 100);
  color: #fff;
}
